.Movies {
  overflow: hidden;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 90px;
}

.movies-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .Row__poster{
    margin-bottom: 10px;
    transition: all 300ms ease;

    &:hover{
      scale: 1.1;
      z-index: 20;
    }
  }
}