.Detail {
  overflow: hidden;
  flex: 1;
  padding-top: 60px;
}

.player{
  height: 600px;

  >div{
    position: relative;
  }
}

.movie-detail{
  padding: 20px;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;

  .movie-genres{
    font-size: 14px;
  }

  .movie-alt-name{
    font-size: 14px;
    margin-bottom: 5px;
  }

  .description{
    margin-top: 20px;
    text-align: justify;
  }

  display: flex;
  flex-direction: row;

  .movie-detail-left{
    flex: 8;
    padding-right: 10px;
    max-width: 1040px;
  }

  .movie-detail-right{
    width: 200px;
    padding-left: 20px;
  }

  .next-movies{
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.eps-list{
  margin-top: 30px;
  max-width: 400px;
  .epsButton{
    display: flex;
    background-color: black;
    border-radius: 8px;
    padding: 7px 10px;
    margin-top: 5px;
    flex-direction: row;
    align-content: center;
    align-items:  center;
    cursor: pointer;

    &.active{
      background-color: #fff;
    }
  }
  .epsPlayIcon {
    width: 32px;
    height: 32px;
    margin-right: 10px
  }

  .epsPlayIconActive{
    width: 42px;
    height: 42px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -5px;
    margin-right: 5px;
    margin-right: 10px
  }

  .epsLabelActive{
    color: #000;
  }
}